.container {

    background-color: #ffffff;
    /* Light background color for visibility */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* Centers horizontally */
    width: 1216px;
    height: 2748px;
    margin-left: 90px;

}